@import '@/assets/styles/_variables';

.country {
  box-shadow: 0 0 $size-18 rgba(black, .1);
  background-color: var(--bg);
  border-radius: $size-4;
  overflow: hidden;
  min-height: 326px;

  &__flag {
    width: 100%;
    height: 212px;
    overflow: hidden;
  }

  &__flag-photo {
    width: 100%;
  }

  &__info {
    padding: $size-12 $size-18;
  }

  &__info-name {
    font-size: $size-18;
    margin-bottom: $size-16;
  }

  &__info-row-key {
    display: inline-block;
    margin-right: $size-8;
    font-weight: 500;
    margin-top: $size-12;
  }
}