.home {
  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__filters div:first-child {
    margin-right: var(--size-8);
  }

  &__loading {
    display: block;
    text-align: center;
    margin-top: var(--size-80);
  }

  &__retry {
    display: block;
    padding: var(--size-12) var(--size-24);
    background-color: var(--section-background-color);
    border: none;
    outline: none !important;
    margin: var(--size-80) auto 0 auto;
    border-radius: var(--size-4);
  }
}