@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist/Geomanist-Thin.eot');
  src: local('Geomanist Thin'), local('Geomanist-Thin'),
    url('../fonts/Geomanist/Geomanist-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geomanist/Geomanist-Thin.woff2') format('woff2'), url('../fonts/Geomanist/Geomanist-Thin.woff') format('woff'),
    url('../fonts/Geomanist/Geomanist-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist/Geomanist-Black.eot');
  src: local('Geomanist Black'), local('Geomanist-Black'),
    url('../fonts/Geomanist/Geomanist-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geomanist/Geomanist-Black.woff2') format('woff2'), url('../fonts/Geomanist/Geomanist-Black.woff') format('woff'),
    url('../fonts/Geomanist/Geomanist-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist/Geomanist-Medium.eot');
  src: local('Geomanist Medium'), local('Geomanist-Medium'),
    url('../fonts/Geomanist/Geomanist-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geomanist/Geomanist-Medium.woff2') format('woff2'), url('../fonts/Geomanist/Geomanist-Medium.woff') format('woff'),
    url('../fonts/Geomanist/Geomanist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist/Geomanist-Bold.eot');
  src: local('Geomanist Bold'), local('Geomanist-Bold'),
    url('../fonts/Geomanist/Geomanist-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geomanist/Geomanist-Bold.woff2') format('woff2'), url('../fonts/Geomanist/Geomanist-Bold.woff') format('woff'),
    url('../fonts/Geomanist/Geomanist-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist Book';
  src: url('../fonts/Geomanist/Geomanist-Book.eot');
  src: local('Geomanist Book'), local('Geomanist-Book'),
    url('../fonts/Geomanist/Geomanist-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geomanist/Geomanist-Book.woff2') format('woff2'), url('../fonts/Geomanist/Geomanist-Book.woff') format('woff'),
    url('../fonts/Geomanist/Geomanist-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist Ultra';
  src: url('../fonts/Geomanist/Geomanist-Ultra.eot');
  src: local('Geomanist Ultra'), local('Geomanist-Ultra'),
    url('../fonts/Geomanist/Geomanist-Ultra.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geomanist/Geomanist-Ultra.woff2') format('woff2'), url('../fonts/Geomanist/Geomanist-Ultra.woff') format('woff'),
    url('../fonts/Geomanist/Geomanist-Ultra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist/Geomanist-Regular.eot');
  src: local('Geomanist Regular'), local('Geomanist-Regular'),
    url('../fonts/Geomanist/Geomanist-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geomanist/Geomanist-Regular.woff2') format('woff2'), url('../fonts/Geomanist/Geomanist-Regular.woff') format('woff'),
    url('../fonts/Geomanist/Geomanist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist/Geomanist-ExtraLight.eot');
  src: local('Geomanist ExtraLight'), local('Geomanist-ExtraLight'),
    url('../fonts/Geomanist/Geomanist-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geomanist/Geomanist-ExtraLight.woff2') format('woff2'),
    url('../fonts/Geomanist/Geomanist-ExtraLight.woff') format('woff'),
    url('../fonts/Geomanist/Geomanist-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/Geomanist/Geomanist-Light.eot');
  src: local('Geomanist Light'), local('Geomanist-Light'),
    url('../fonts/Geomanist/Geomanist-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Geomanist/Geomanist-Light.woff2') format('woff2'), url('../fonts/Geomanist/Geomanist-Light.woff') format('woff'),
    url('../fonts/Geomanist/Geomanist-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
