.search-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--size-28) var(--size-28);
  box-shadow: 0 0 var(--size-18) rgba(black, .08);
  background-color: var(--section-background-color);
  border-radius: var(--size-4);

  &__input {
    flex-grow: 1;
    border: none;
    margin-left: var(--size-16);
    outline: none !important;
    background: none;
  }

  &__input::placeholder {
    color: var(--text-placeholder-color);
  }

  &__icon {
    color: var(--text-placeholder-color);
  }
}