.header {
  width: 100%;

  &__content {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--section-background-color);
    padding: var(--size-24) var(--size-12);
    box-shadow: 0 0 var(--size-24) rgba(black, .1);
    z-index: 3;
  }

  &__content-title {
    font-size: var(--size-18);
  }

  &__content-theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    height: var(--size-24);
  }

  &__content-theme-toggle-text {
    display: block;
    margin-left: var(--size-8);
  }

  &__backdrop {
    height: var(--size-96);
  }
}