@import '@/assets/styles/_variables';

.header {
  width: 100%;

  &__content {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: $size-24 $size-12;
    box-shadow: 0 0 $size-24 rgba(black, .1);
    z-index: 3;
  }

  &__content-title {
    font-size: $size-18;
  }

  &__content-theme-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
  }

  &__content-theme-toggle-text {
    display: block;
    margin-left: $size-8;
  }

  &__backdrop {
    height: $size-96;
  }
}