@import '@/assets/styles/_skeleton';
@import '@/assets/styles/_breakpoints';

@mixin btn {
  padding: var(--size-12) var(--size-18);
  box-shadow: 0 0 var(--size-18) rgba(black, .08);
  background-color: var(--section-background-color);
  border-radius: var(--size-4);
  text-decoration: none;
  cursor: pointer;
}

.country-page {

  &__back {
    @include btn;
    border: none;
    outline: none !important;
    width: var(--size-120);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__back-icon {
    display: inline-block;
    margin-right: .5rem;
  }

  &__loading {
    display: block;
    text-align: center;
    margin-top: var(--size-80);
  }

  &__retry {
    display: block;
    padding: var(--size-12) var(--size-24);
    background-color: var(--section-background-color);
    border: none;
    outline: none !important;
    margin: var(--size-80) auto 0 auto;
    border-radius: var(--size-4);
  }

  &__country-flag {
    position: relative;
    width: 100%;
    min-height: 225px;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    margin-top: var(--size-32);
    border-radius: var(--size-4);
  }

  &__country-flag-photo {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__country-name {
    margin-top: var(--size-24);
    font-size: var(--size-24);
  }

  &__country-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: var(--size-24);
  }

  &__country-info-row-key {
    display: inline-block;
    margin-right: var(--size-8);
    font-weight: 500;
    margin-top: var(--size-12);
  }

  &__country-borders {
    margin-top: var(--size-24);
  }

  &__country-borders-title {
    font-weight: 500;
  }

  &__country-borders-items {
    margin-top: var(--size-12);
  }

  &__country-borders-items-country, &__country-borders-items-country--skeleton {
    @include btn;
    display: inline-block;
    margin: 0 var(--size-8) var(--size-8) 0;
  }

  &__country-borders-items-country--skeleton {
    @include skeleton;
    padding: 0;
    width: var(--size-96);
    height: var(--size-36);
  }

  @include media-breakpoint-up('lg') {
    &__country-flag {
      width: 35rem;
      min-width: 35rem;
    }

    &__country-info {
      height: 9rem;
    }
  }

  @include media-breakpoint-up('xl') {
    &__country {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &__country-flag {
      margin-right: var(--size-48);
    }

    &__country-borders {
      margin-top: var(--size-56);
    }
  }
}