@import '@/assets/styles/_variables';

.countries {
  position: relative;
  height: 30rem;
  margin-top: $size-48;

  &__wrapper-item {
    display: block;
    text-decoration: none;
  }
}

.scroller {
  height: 100%;
}

.vue-recycle-scroller__item-wrapper {
  overflow-x: visible;
}