@import '@/assets/styles/_breakpoints';

.countries {
  position: relative;
  width: 105%;
  margin: var(--size-48) 0 0 -2.5%;

  &__wrapper-row {
    padding: 0 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper-row-item {
    width: 100%;
    display: block;
    text-decoration: none;
  }

  @include media-breakpoint-up('md') {
    &__wrapper-row-item {
      width: 49%;
    }
  }

  @include media-breakpoint-up('lg') {
    &__wrapper-row-item {
      width: 32%;
    }
  }
}