.sort {
  position: relative;
  width: 15rem;
  margin-top: var(--size-24);

  &__title {
    display: block;
    margin-bottom: var(--size-12);
  }

  &__current, &__list {
    box-shadow: 0 0 var(--size-18) rgba(black, .08);
    background-color: var(--section-background-color);
    border-radius: var(--size-4);
  }

  &__current {
    padding: var(--size-24) var(--size-28);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__list {
    position: absolute;
    width: 100%;
    top: calc(100% + var(--size-8));
    left: 0;
    padding: var(--size-8) 0;
    list-style: none;
    z-index: 2;
  }

  &__list-item {
    cursor: pointer;
    transition: background 250ms;
    padding: var(--size-12) var(--size-24);
  }

  &__list-item:hover {
    background-color: var(--background-color);
  }
}