$white: var(--white);
$gray-050: var(--gray-050);
$gray-100: var(--gray-100);
$gray-200: var(--gray-200);
$gray-300: var(--gray-300);
$gray-400: var(--gray-400);
$gray-500: var(--gray-500);
$gray-600: var(--gray-600);
$gray-700: var(--gray-700);
$gray-800: var(--gray-800);
$gray-900: var(--gray-900);
$black: var(--black);

$size-2: var(--size-2);
$size-3: var(--size-3);
$size-4: var(--size-4);
$size-8: var(--size-8);
$size-10: var(--size-10);
$size-12: var(--size-12);
$size-14: var(--size-14);
$size-16: var(--size-16);
$size-18: var(--size-18);
$size-20: var(--size-20);
$size-24: var(--size-24);
$size-28: var(--size-28);
$size-32: var(--size-32);
$size-36: var(--size-36);
$size-40: var(--size-40);
$size-44: var(--size-44);
$size-48: var(--size-48);
$size-52: var(--size-52);
$size-56: var(--size-56);
$size-60: var(--size-60);
$size-64: var(--size-64);
$size-80: var(--size-80);
$size-96: var(--size-96);
$size-120: var(--size-120);
